/TODO
/*.so
/*.out
/*.php
/*.o
/.vscode/
/.libs/
/jwt-cpp/
/tests/00*.php

/autom4*/
/build/
/include/
/modules/
/vendor/

*.guess
*.log
*.lo
*.la
*.out
*.exp
*.diff
*.sh

/config.h*
/config.nice
/config.status
/config.sub
/configure
/configure.ac
/missing
/mkinstalldirs

/install-sh
/libtool
/ltmain*
/Makefile*
/acinclude.m4
/aclocal.m4
/composer.*